nav {
    background-color: bisque;
}
footer{
    background-color: beige; 
    font: 1em sans-serif;
}
h1 {background-color: aqua;}

div {
    background-color: aquamarine;
}
#about {background-color: antiquewhite;}

    